:root {
    --color-black: #1d1b1a;
    --color-white: #ffffff;

    --font-f-base: 'Kreon', serif;

    --font-s-button: 0.903vw; // 13px
    --lh-button: 1.597vw; // 23px
    --ls-button: 0.097vw // 1.4px
}