.product__detail {
    width: 100vw;
    height: 100vh;

    background: var(--color-black);
    
    z-index: 99;

    position: fixed;

    display: none;

    opacity: 0;

    .product__close {
        width: 25px;
        height: 25px;

        position: absolute;
        top: 30px;
        left: 30px;

        cursor: pointer;

        padding: 10px;

        &::after {
            content: "";

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 25px;
            height: 25px;

            background-repeat: no-repeat;
            background-image: url(/src/assets/svg/icon_arrow_back.svg);

            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:hover {
            &::after {
                transform: translate(-50%, -50%) scale(0.9);
                opacity: .8;
            }
        }
    }

    .container {
        padding: 10vh 10vw;

        display: flex;

        align-items: center;

        .product__image {
            width: 30%;

            height: calc(100vh - 20vh);

            text-align: center;

            opacity: 0;

            transform: scale(1.1);

            img {
                height: 100%
            }
        }

        .product__content {
            width: 70%;

            text-align: center;

            color: white;

            padding: 0 5%;

            * {
                transform: translateY(200px);
            }

            .product__logo {
                width: 20vw;

                margin-bottom: 40px;

                opacity: 0;
            }

            .product__quote {
                margin-bottom: 40px;

                font-size: 2vw;

                opacity: 0;                
            }

            .product__text {
                font-size: 1.7em;

                opacity: 0;                
            }
        }
    }
}